ul.launcher-dropdown.dropdown-menu {
    padding: 12px 16px;

    .dropdown-header {
        color: #1f1f1f;
        font-size: 15px;
        font-weight: bold;
        padding: 8px 0 4px;
    }

    a {
        color: #1f1f1f;
        font-size: 15px;
        font-weight: normal;
        padding: 12px 0;

        img {
            margin: 0 16px 0 0;
            height: 20px;
            width: 20px;
        }
    }

    li { float: none; }
}
