:root:not(.smartphone) {
    .launcher ul.launcher-dropdown.dropdown-menu {
        padding: 12px 0;
        width: fit-content !important;
    }
}

.launcher ul.launcher-dropdown.dropdown-menu {
    flex-direction: column;
    min-width: 260px;
    max-width: 420px;

    .dropdown-header {
        color: #1f1f1f;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px 16px 4px;
        white-space: initial;
    }

    .btn.btn-toolbar {
        border-radius: 0;
        justify-content: flex-start;
        margin: 0;
        padding: 0 16px 0 0;
        width: 100%;
    }
    .lcell .icon-wrap {
        height: 44px;
        width: 44px;
        margin: 0 4px;
    }
}

div#io-ox-appcontrol {
    border-bottom: 1px solid #adb3bc;
    height: 64px;
}

div#io-ox-top-logo { margin: 0 16px; }

.public-sector-launcher {
    background-color: currentColor;
    height: 20px;
    width: 20px;
}

.smartphone {
    .launcher-dropdown {
        width: 100%;

        .menu {
            border-top: 1px solid var(--border);
            margin-top: 24px;
            padding-inline-start: 4px;
            padding-top: 24px;
        }
    }
}
