Source: open-xchange-matrixproxy
Section: web
Priority: optional
Maintainer: Carsten Hoeger
Build-Depends: cdbs (>= 0.4.53), debhelper (>= 7.0.1), ant-optional (>= 1.7.0), openjdk-8-jdk-headless | adoptopenjdk-8-hotspot,
 open-xchange-core (>= 7.10.6), open-xchange-core (<< 7.10.7)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-matrixproxy
Architecture: all
Depends: ${misc:Depends},
 open-xchange-core (>= 7.10.6), open-xchange-core (<< 7.10.7)
Description: Open-Xchange Matrix Bot Proxy

