.conference-view.element .conference-logo {
    background-color: @brand-primary;
    width: 40px;
    height: 40px;
    @mask: url(apps/io.ox.public-sector/element/conference.svg) center/contain no-repeat;
    mask: @mask;
    -webkit-mask: @mask;
}
